main{
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}
.social-logo{
    height: 20px;
    width: 22px;
}
.image{
    max-height: 350px;
    max-width: 350px;
    padding: 2%;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    border-right: 1px solid black;
}

.form-div{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    width: fit-content;
    height: fit-content;
}
form > div {
    width: auto;
    display: flex;
}
label {
    width: 150px;
}
input {
    width: 200px;
}
button {
    margin-left: 150px;
    padding: 2%;
}

h5{
    font-family: cursive;
}
.details{
    margin: 1% 4% 2% 4%;
}
.img-form {
    margin: 2%;
    display: flex;
    justify-content: center;
    max-height: 400px;
    border: 1px solid black;
}

/*Header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
header > a.login {
    margin: 0 2%;
    text-decoration: none;
    color: black;
}
header > a  {
    margin-left: 1%;
}

/*Footer*/ 
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-wrap{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact > a {
    text-decoration: none;
    color: black;
}

.copyright { 
    font-size: 10px;
}

.contact { 
    margin-left: 2%;
}

.social-links{
    margin-right: 2%;
}

.footer-gap{
    height: 50px;
    width: 100%;
}

