.image{
    height: 300px;
    width: 300px;
}
.social-logo{
    height: 20px;
    width: 22px;
}
.hotel-listing > a > img{
    height: 200px;
    width: 250px;
}
.hotel-listing{
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
}