.image{
    max-height: 300px;
    max-width: 270px;
}
.social-logo{
    height: 20px;
    width: 22px;
}
.details{
    display: flex;
    align-items: center;
    background-color: rgb(132, 136, 139);
    height: 20%;
    width: 50%;
    margin: 2% auto;
}
.card-details {
   margin-left: 4%;  
   justify-content: center;
}

.payment-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2%;
    background-color: rosybrown;
}
b{
    font-family: cursive;
}
.pay {
    text-decoration: none;
    color: black;
}

main{
    padding: 60px 0 0 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    background-color: #e0e0e0;
}
.contain-er{
    min-height: 700px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Header*/
header.head{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
header.head > a.login {
    margin: 0 2%;
    text-decoration: none;
    color: black;
}
header.head > a  {
    margin-left: 1%;
}


/*Footer*/ 
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-wrap{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact > a {
    text-decoration: none;
    color: black;
}

p.copyright { 
    font-size: 10px;
    margin-bottom: 0;
}

div.contact { 
    margin-left: 2%;
}

.social-links{
    margin-right: 2%;
}

.footer-gap{
    height: 50px;
    width: 100%;
}

@media only screen and (max-width : 768px) {
    div.details{
        height: 200px;
        width: 600px;
        margin-left:8%;
    }
}

@media only screen and (max-width : 576px) {
    .contain-er{
        display: flex;
    }
    div.details{
        flex-direction: column;
        width: 270px;
        height: 400px;
        margin: 5%auto;
    }
    .card-details{
        margin-top: 5%;
    }
    div.payment-details {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }
    .pay-det{
        margin-left: 5%;
    }
    .tarrif-det{
        margin-left: 5%;
    }
    .pay{
        align-items: center;
        justify-content: center;
        margin: 2% auto;
    }
}